[submodule "pddlstream"]
	path = pddlstream
	url = https://github.com/Khodeir/pddlstream.git
[submodule "experiments/ikea/ikea_induction"]
	path = experiments/ikea/ikea_induction
	url = https://github.com/rvl-lab-utoronto/ikea_induction.git
[submodule "experiments/ikea_induction"]
	path = experiments/ikea_induction
	url = https://github.com/rvl-lab-utoronto/ikea_induction.git
